@import '../../style/variables.scss';

.char{
    &__charInfo{
        position:sticky;
        top:15px;
        height: 700px;
        overflow:auto;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

#element::-webkit-scrollbar {
    width: 5px;
  }
  
  #element::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
  }
  
  #element::-webkit-scrollbar-thumb {
    background-color: $main-color;
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .25) 25%,
                      transparent 25%,
                      transparent 50%,
                      rgba(255, 255, 255, .25) 50%,
                      rgba(255, 255, 255, .25) 75%,
                      transparent 75%,
                      transparent);
  }
  